
body {
    font-family: 'Share Tech Mono', monospace;
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Share Tech Mono', monospace;
}

header h1, h3 {
    color: black;
}

a:link {
    color:white;
}

a:visited{
    color: #53F1F1;
}

#footer {
    background-image: linear-gradient(black, #8838C3, #DE24D5);
    padding: 20px 0;
    color: white;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to right, #53F1F1, #8838C3, #DE24D5, #53F1F1);
    color: black;
}

#jumbotronTitle {
    font-size:8vw;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background: #251F35;
}

#eventCards {
    align-self: center;
    width: 50vw;"
    border: 10px solid black;
}

#eventMonth {
    background-color: #251F35;
    color:#DE24D5;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

#merchCard {
    color:black;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#sageHardwareCarouselCaption  {
    color: orange;
}


